/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @import "tailwindcss/preflight";

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
  @import "tailwindcss/components";
 
  
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
  @import "tailwindcss/utilities";
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
  /*
 * We'll use CSS grids for the base template
 * More info on https://cssgrid.io/ by @wesbos
 */
#main {
    display: grid;
    grid-template-columns: 6rem auto;
    /* Or grid-template-columns: config('width.24') auto; */
  }
  
  @media (min-width: 1200px) { 
  /* Or @media (min-width: config('screens.xl')) { */
    
    #main { grid-template-columns: 12rem auto; }
    /* Or #main { grid-template-columns: config('width.48') auto; } */
  }
  
  a {
    text-decoration: none;
    /* Or @apply .no-underline; */
  }
  
  /* Just a new padding size */
  .pt-16 {
    padding-top: 4rem;
  }
  
  /*
   * Just some customized new utilities needed for the submenus
   * Add this before
   */
  .top-full { top: 100%; }
  .left-full { left: 100%; }
  
  /*
   * This hacks is just needed in Codepen because the previous rules are prioritary to xl:pin-none.
   * In your own config this should not be needed.
   */
  
  @media (min-width: 1200px) {
    .xl\:pin-none { left: auto; }
  }
  
  /* 
   * Active "group-hover" for the "display" module in your
   * tailwind.js config file like this:
   * 
   * display: ['responsive', 'group-hover']
   *
   * More info on https://tailwindcss.com/docs/state-variants/#group-hover
   */
  .group:hover .group-hover\:block {
    display: block;
  }

  .lds-ellipsis {
    display: inline-block;
    position: fixed;
    width: 100wv;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
  
  .loading-overlay{
    transition: opacity 0.5s ease-in-out;
  }

  .effect-opacity{
    transition: opacity 0.5s ease-in-out;
  }

  .fade-in {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.animate-content{
  -webkit-animation:  fade-in-slide-top 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation:  fade-in-slide-top 1s; /* Firefox < 16 */
   -ms-animation:  fade-in-slide-top 1s; /* Internet Explorer */
    -o-animation:  fade-in-slide-top 1s; /* Opera < 12.1 */
       animation:  fade-in-slide-top 1s;
}

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes grow-x {
  from { height: 0%; }
  to   { height: 100%; }
}

@keyframes fade-in-slide-top {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}